{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 3, "knowledge_revision": 11, "git_revision": "6f296ddf59c10df18318602f221fcf8f0da57cff", "hash": "1d666af380b83b2c5033b860e3cfc119", "format-version": 4, "code-base-name": "feedback_backend", "filename": "feedback_backend/requirements.txt", "revision_history": [{"11": "6f296ddf59c10df18318602f221fcf8f0da57cff"}]}